<footer>
    <div class="footer-list">
        <div class="footer-section">
            <h2>Projects</h2>
            <a href="#">Islands of Nyne</a>
            <a href="#">Breaking Point</a>
            <a href="#">Creative Logic</a>
            <a href="#">Project Borealis</a>
        </div>

        <div class="footer-section">
            <h2>Personal</h2>
            <a href="/">Portfolio</a>
            <a href="/blog">Blog</a>
            <a href="/downloads/ColbyHall_Resume.pdf" download>Resume</a>
        </div>

        <div class="footer-section">
            <h2>Support</h2>
            <a href="#">Islands of Nyne</a>
            <a href="#">Breaking Point</a>
            <a href="#">Creative Logic</a>
            <a href="#">Project Borealis</a>
        </div>

        <div class="footer-section">
            <h2>Contact</h2>
            <a href="#">Twitter</a>
            <a href="#">LinkedIn</a>
            <a href="#">Twitch</a>
            <a href="mailto:me@cobeh.com?subject=Hi, Colby">me@cobeh.com</a>
            <a href="#">GitHub</a>
        </div>
    </div>
</footer>