<div class="navbar">
    <div class="wrapper">
        <div class="logo"></div>
        <h1>Creative Logic</h1>
        <div class="spacer"></div>
        <div class="button-container">
            <a href='#'>Top User</a>
            <a href='#'>Community</a>
            <a href='#'>Rules</a>
            <a href='#'>Join</a>
        </div>
    </div>
</div>