<!DOCTYPE html>
<html>
    <head>
        <title>Colby Hall: Portfolio</title>
        <link href="style/style.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
        <link rel="icon" href="images/favicon_pGa_icon.ico">
        <meta property="og:title" content="Colby Hall: Portfolio" />
        <meta property="og:description" content="Colby Hall's programming portfolio" />
        <meta property="og:url" content="http://colby-hall.com" />
        <meta property="og:type" content="profile" />
        <meta property="og:image" content="images/logo.jpg" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-87DrmpqHRiY8hPLIr7ByqhPIywuSsjuQAfMXAE0sMUpY3BM7nXjf+mLIUSvhDArs" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121684793-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-121684793-1');
        </script>

    </head>
    <body>
        {{>navbar}}

        {{{ body }}}

        {{>footer}}
        <script src="js/runner.js"></script>
        <script>
            $("a[href^='#']").click(function(e) {
                e.preventDefault();
                
                var position = $($(this).attr("href")).offset().top - (window.innerHeight / 2);
                
                $("body, html").animate({
                    scrollTop: position
                }, 300);
            });
        </script>
    </body>
</html>