<!DOCTYPE html>
<html>
    <head>
        <title>Creative Logic</title>
        <link href="style/style.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
        <link rel="icon" href="images/favicon.ico">
        <meta property="og:title" content="The Rock" />
        <meta property="og:type" content="video.movie" />
        <meta property="og:url" content="http://www.imdb.com/title/tt0117500/" />
        <meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
        <meta charset="utf-8" />
        <script src="https://use.fontawesome.com/7079cd184a.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        {{>navbar}}

        {{{ body }}}

        {{>footer}}
        <script src="js/runner.js"></script>
        <script>
            $("a[href^='#']").click(function(e) {
                e.preventDefault();
                
                var position = $($(this).attr("href")).offset().top;
                
                $("body, html").animate({
                    scrollTop: position
                }, 300);
            });
        </script>
    </body>
</html>