<nav>
    <div class="wrapper">
        <a href='/' id="logo-btn">
            <div class="logo"></div>
        </a>
        <div class="spacer"></div>
        <div class="button-container">
            <a href='/#skills'>Skills</a>
            <a href='/#projects'>Projects</a>
            <a href='/#resume'>Resume</a>
            <a href='/#contact'>Contact</a>
            <a href='/blog'>Blog</a>
        </div>
    </div>
</nav>

<blog-preview>
    <h1>Under Construction</h1>
</blog-preview>