<section id="landing">
    <h1>Hi, I'm Colby</h1>
    <h2>I make video games</h2>
</section>
<section id="about">
    <div class="about-wrapper">
        <h1>So, what am I all <span>about</span>?</h1>
        <p>
            Technically, I am a professional Gameplay Programmer currently working on a project called Islands of Nyne. I've been professionally working as a game developer for about two years, but have been making video games for around five years. I started coding back when I was nine-years-old. I first learned action script and then jumped straight into C++ when I was thirteen-years-old. At the age of seventeen I was hired for my first professional project working in Unreal Engine 4. It took me from my bedroom all the way to San Francisco and it was truly life changing. I've also done professional work in web development and ran several personal projects with games and web apps.
        </p>
    </div>
</section>
<section id="projects">
    <h1>Projects I've <span>worked</span> on</h1>
    <div class="project-list">
        <div class="project">
            <div class="header" style="background-image:url('images/ION_Twitter.png')">
            </div>
            <h2>About</h2>
            <p>Islands of Nyne is an online fast paced first person battle royale game.
             Its roots started from Rob Logan and Jake Tolton at the end of 2015. 
             They felt like they could do things better than the current Battle Royale
             titles so they started their own company and game. Building ION and Define
             Human Studios over time.</p>
            <h2>What do I do?</h2>
            <p>Technically I'm a "Gameplay Programmer" but I worked on everything from animation programming to network optimization.
            Things I've worked on include the Recoil System, DBNO, Event System, serveral UI elements, and much more.</p>
            <h2>Time working on project</h2>
            <p>July 2017 - Today</p>
            <h2>Release Date</h2>
            <p>July 12th, 2018</p>
            <h2>Platforms</h2>
            <p>Microsoft Windows</p>
            <h2>Awards</h2>
            <p>ION has won IndieDB's Indie Game of the Year 2017. It also was nominated for Epic's E3 Underdog Award. </p>
            <h2>Social Media</h2>
            <div class="social-container">
                <a href="https://store.steampowered.com/app/728540/Islands_of_Nyne_Battle_Royale/" style="margin-left: 0px"><i class="fab fa-steam fa-2x" aria-hidden="true"></i></a>
                <a href="https://twitter.com/islandsofnyne"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/islandsofnyne"><i class="fab fa-facebook-f fa-2x" aria-hidden="true"></i></a>
                <a href="https://islandsofnyne.com/"><i class="fa fa-browser fa-2x" aria-hidden="true"></i></a>
                <a href="https://www.kickstarter.com/projects/569820437/ion/comments?cursor=13399235"><i class="fab fa-kickstarter-k fa-2x" aria-hidden="true"></i></a>
                <a href="https://discord.gg/islandsofnyne"><i class="fab fa-discord fa-2x" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/channel/UCtNrdg-neKXyD5MO-mZgZ7Q"><i class="fab fa-youtube fa-2x" aria-hidden="true"></i></a>
                <a href="http://twitch.tv/islandsofnyne"><i class="fab fa-twitch fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="project">
            <div class="header" style="background-image:url('images/nomad-fourteen.png')">
                <h1>Breaking Point</h1>
            </div>
            <h2>About</h2>
            <p>Breaking Point is an Arma mod going standalone in Unreal Engine. It is a massive open world survival game with features such as an event system, faction system, survival mechanics, advanced ballistics, and much much more.</p>
            <h2>What did I do?</h2>
            <p>Inventory System and UI, Basic AI Implementation, Deployable System, Movement Mechanics (leaning, sprinting, jogging), Weapon Mechanics, and Ballistics</p>
            <h2>Time working on project</h2>
            <p>June 2016 - July 2017</p>
            <h2>Release Date</h2>
            <p>TBA</p>
            <h2>Platforms</h2>
            <p>Microsoft Windows</p>
            <h2>Social Media</h2>
            <div class="social-container">
                <a href="http://twitter.com/breakingpointg" style="margin-left: 0px"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
                <a href="http://facebook.com/breakingpointgame"><i class="fab fa-facebook-f fa-2x" aria-hidden="true"></i></a>
                <a href="http://playbreakingpoint.com"><i class="fa fa-browser fa-2x" aria-hidden="true"></i></a>
                <a href="http://discord.gg/breakingpointgame"><i class="fab fa-discord fa-2x" aria-hidden="true"></i></a>
                <a href="http://www.youtube.com/channel/UCjY-GeGAZ5NHIGBqUW_Sp-g"><i class="fab fa-youtube fa-2x" aria-hidden="true"></i></a>
                <a href="http://twitch.tv/breakingpointgame"><i class="fab fa-twitch fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="project">
            <div class="header" style="background: #57577D">
                <h1>Creative Logic</h1>
            </div>
            <h2>About</h2>
            <p>Creative Logic was a discord bot and community built for the purpose of helping artists and programmers grow in their craft and influence</p>
            <h2>What did I do?</h2>
            <p>I wrote the discord bot all by myself along with its web app. I also managed parts of the community. Everything was written in Node as a JS refresher.</p>
            <h2>Time working on project</h2>
            <p>October 2017 - May 2018</p>
        </div>

    </div>
</section>
<section id="skills">
    <h1>What am I <span>experienced</span> with?</h1>

    <div class="skill-list">
        <div class="skill">
            <h2>Languages</h2>
            <p>I have a good bit of experience with C, C++, C#, Java, Javascript, Python, and Go </p>
        </div>
        
        <div class="skill">
            <h2>Platforms</h2>
            <p>I've worked in platforms such as Windows, Linux, Android, and IOS</p>
        </div>

        <div class="skill">
            <h2>Tools</h2>
            <p>I've worked with all types of source control such as Git, and SVN. I've worked with Blender, Maya and 3DS Max aswell</p>
        </div>

        <div class="skill">
            <h2>Engines</h2>
            <p>I've worked with Unreal Engine, Unity, CryEngine and many of my own prototype engines.</p>
        </div>

        <div class="skill">
            <h2>Networking</h2>
            <p>I have a very strong understanding of authority based server models and have worked with them for several years</p>
        </div>

        <div class="skill">
            <h2>Rendering</h2>
            <p>I've written both GLSL and HLSL extensively. I have a good grasp of PBR rendering and Ray Trace Rendering</p>
        </div>
    </div>
</section>

<section id="contact">
    <div class="contact-wrap">
        <div class="user">
            <img src="images/logo.jpg">
            <div class="name-container">
                <h1>Colby Hall</h1>
                <div class="connections">
                    <a href="http://twitter.com/cobeh_"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
                    <a href="https://github.com/Colbeyyy"><i class="fab fa-github fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.twitch.tv/cobehh"><i class="fab fa-twitch fa-2x" aria-hidden="true"></i></a>
                    <a href="mailto:me@cobeh.com"><i class="fas fa-envelope fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="summary">
            <h2>Contact Me</h2>
            <p>If you need my assistance with anything or just want to talk don't be afraid to reach out to me at any of the platforms to the right (my most prefered is email which is me@cobeh.com).<br><br> I'm free to talk any day of the week at almost anytime except for the occasional crunch and vacation.</p>
        </div>
    </div>
</section>