<nav>
    <div class="wrapper">
        <a href='/' id="logo-btn">
            <div class="logo"></div>
        </a>
        <div class="spacer"></div>
        <div class="button-container">
            <a href='#skills'>Skills</a>
            <a href='#projects'>Projects</a>
            <a href='#resume'>Resume</a>
            <a href='#contact'>Contact</a>
        </div>
    </div>
</nav>

<section id="landing">
    <h1>Hi, I'm Colby</h1>
    <h2>I make video games</h2>
    <a href="#about">See what I'm all <span>about</span><i class="far fa-angle-down"></i></a>
</section>

<section id="about">
    <div class="about-wrapper">
        <h1>So, what am I all <span>about</span>?</h1>
        <p>
            I’m a young, self-taught, and highly motivated gameplay programmer with two years of industry 
            experience and five years of personal experience. My passion is making games that play and 
            feel great through network optimization, engine event systems, weapon handling, movement, UI,
             and much more. I’m currently working at Define Human Studios, developing IndieDB’s Game of the 
             Year: Islands of Nyne. At Define Human, I have worked personally with the lead producer in 
             implementing gameplay design and other aspects of the team such as sound and animation to
             implement the tools and features we need. I’m an avid C++ coder, and my engine of choice 
             is Unreal Engine 4, for its server authority network model and its 
             highly flexible blueprint scripting which is amazing for modding support.
        </p>
    </div>
</section>

<section id="skills">
    <h1>What do I have <span>experience</span> with?</h1>

    <div class="skill-list">
        
        <div class="skill">
            <h2>Software</h2>
            <ul>
                <li>Unreal Engine 4</li>
                <li>Unity</li>
                <li>Source SDK</li>
                <li>Photoshop</li>
                <li>Perforce</li>
                <li>Git</li>
            </ul>
        </div>

        <div class="skill">
            <h2>Programming</h2>
            <ul>
                <li>C/C++ (OpenGL, Win32, SDL)</li>
                <li>C#</li>
                <li>Java (LWJGL)</li>
                <li>NodeJS (Electron, Express, Mongoose)</li>
                <li>Python</li>
                <li>GoLang</li>
                <li>Vivox SDK</li>
                <li>Steamworks</li>
            </ul>
        </div>

        <div class="skill">
            <h2>Design</h2>
            <ul>
                <li>UI/UX</li>
                <li>Core Gameplay Architecture</li>
                <li>Rapid Prototyping</li>
            </ul>
        </div>
    </div>
</section>

<section id="projects">
    <h1>Projects I've <span>worked</span> on</h1>
    <div class="project-list">
        <div class="project">
            <div class="header" style="background-image:url('images/ION_Header.jpg')"></div>
            <h2>About</h2>
            <p>
                 Islands of Nyne is a fast-paced, first-person battle royal game with roots
                 in Counterstrike, Halo, and COD. Our goal is to bring a skill-based FPS to the 
                 battle royal genre, where the adrenaline and mastery of shooters meets 
                 the tension and strategy of battle royal. With little to no RNG, Islands of Nyne 
                 is pushing to be the leading edge in Battle Royale esports 
            </p>
            <h2>What have I done so far?</h2>
            <ul>
                <li>Network Optimization</li>
                <li>Recoil and Recoil Pattern tool</li>
                <li>UI/UX</li>
                <li>Movement Client Prediction</li>
                <li>Event Manager</li>
                <li>Inventory System and Replication</li>
                <li>First and Third Person Animation Programming (Including IK, FK)</li>
                <li>Swimming</li>
                <li>Reticle Shader</li>
                <li>Vivox SDK Implementation</li>
            </ul>
            <h2>Time working on project</h2>
            <p>July 2017 - Current</p>
            <h2>Release Date</h2>
            <p>July 12th, 2018</p>
            <h2>Platforms</h2>
            <p>Microsoft Windows</p>
            <h2>Type</h2>
            <p>Contract / Fulltime</p>
            <h2>Awards</h2>
            <div class="awards-list">
                <img src="https://steamcdn-a.akamaihd.net/steam/apps/728540/extras/Indieoftheyear.png?t=1530064784">
                <img src="https://steamcdn-a.akamaihd.net/steam/apps/728540/extras/UnrealAward.png?t=1530064784">
            </div>
            <h2>Trailer</h2>
            <iframe width="480" height="270" src="https://www.youtube.com/embed/imwEgAzJGSs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <h2>Social Media</h2>
            <div class="social-container">
                <a href="https://store.steampowered.com/app/728540/Islands_of_Nyne_Battle_Royale/" style="margin-left: 0px"><i class="fab fa-steam fa-2x" aria-hidden="true"></i></a>
                <a href="https://twitter.com/islandsofnyne"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/islandsofnyne"><i class="fab fa-facebook-f fa-2x" aria-hidden="true"></i></a>
                <a href="https://islandsofnyne.com/"><i class="fa fa-browser fa-2x" aria-hidden="true"></i></a>
                <a href="https://www.kickstarter.com/projects/569820437/ion/comments?cursor=13399235"><i class="fab fa-kickstarter-k fa-2x" aria-hidden="true"></i></a>
                <a href="https://discord.gg/islandsofnyne"><i class="fab fa-discord fa-2x" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/channel/UCtNrdg-neKXyD5MO-mZgZ7Q"><i class="fab fa-youtube fa-2x" aria-hidden="true"></i></a>
                <a href="http://twitch.tv/islandsofnyne"><i class="fab fa-twitch fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="project">
            <div class="header" style="background-image:url('images/BP_Header.jpg')">
                <h1>Breaking Point</h1>
            </div>
            <h2>About</h2>
            <p>
                Breaking Point is an Arma mod going standalone in Unreal Engine. It is 
                a massive open world survival game with features such as an event system, 
                faction system, survival mechanics, advanced ballistics, and much much more.
            </p>
            <h2>What did I do?</h2>
            <ul>
                <li>Network Optimization</li>
                <li>Basic Random Recoil System </li>
                <li>UI/UX</li>
                <li>Basic movement systems (leaning, swimming, proning, jogging) </li>
                <li>NPC Behavior</li>
                <li>Inventory System and Replication</li>
                <li>True First Person Animation Programming (Including IK, FK)</li>
                <li>Character Rig Design</li>
                <li>Weapon Handling</li>
            </ul>
            <h2>Time working on project</h2>
            <p>June 2016 - July 2017</p>
            <h2>Release Date</h2>
            <p>TBA</p>
            <h2>Platforms</h2>
            <p>Microsoft Windows</p>
            <h2>Type</h2>
            <p>Contract / Fulltime</p>
            <h2>Trailer</h2>
            <iframe width="480" height="270" src="https://www.youtube.com/embed/uvnumlVg75Q?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <h2>Social Media</h2>
            <div class="social-container">
                <a href="http://twitter.com/breakingpointg" style="margin-left: 0px"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
                <a href="http://facebook.com/breakingpointgame"><i class="fab fa-facebook-f fa-2x" aria-hidden="true"></i></a>
                <a href="http://playbreakingpoint.com"><i class="fa fa-browser fa-2x" aria-hidden="true"></i></a>
                <a href="http://discord.gg/breakingpointgame"><i class="fab fa-discord fa-2x" aria-hidden="true"></i></a>
                <a href="http://www.youtube.com/channel/UCjY-GeGAZ5NHIGBqUW_Sp-g"><i class="fab fa-youtube fa-2x" aria-hidden="true"></i></a>
                <a href="http://twitch.tv/breakingpointgame"><i class="fab fa-twitch fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>

    </div>
</section>

<section id="resume">
    <h1>Want my <span>resume</span>?</h1>
    <a href="/downloads/ColbyHall_Resume.pdf" download>Well here it is <i class="fas fa-file-download"></i></a>
</section>

<section id="contact">
    <div class="contact-wrap">
        <div class="user">
            <img src="images/logo.jpg">
            <div class="name-container">
                <h1>Colby Hall</h1>
                <div class="connections">
                    <a href="http://twitter.com/cobeh_"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
                    <a href="https://github.com/Colbeyyy"><i class="fab fa-github fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.twitch.tv/cobehh"><i class="fab fa-twitch fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/colbeyyy/"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="summary">
            <h2>Contact Me</h2>
            <p>If you need my assistance with anything or just want to talk don't be
               afraid to reach out to me at any of the platforms to the left. I most prefer email which is listed below<br><br>
               
               Email: me@cobeh.com
               <br><br> 
               
               I'm free to talk any day of the week at almost anytime except for the occasional crunch and vacation.</p>
        </div>
    </div>
</section>