{{#if loggedIn}}
    {{>innav}}
{{else}}
    {{>outnav}}
{{/if}}

<div class="container">
    <div class="content" id="landing">
        <div class="wrapper">
            <h1>Creative Logic</h1>
            <div class="line"></div>
            <h2>Discord Community and Powerful Discord Bot</h2>
            <div style="text-align: center; display: block;">
                <a href="https://discord.gg/97tn3bW">Join</a>
                <a href="https://discord.gg/97tn3bW">Add</a>
            </div>
        </div>
    </div>
    <div class="content" style="height: 300px; background: white">

    </div>
</div>