<!DOCTYPE html>
<html>
    <head>
        <title>Creative Logic</title>
        <link href="style/style.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
        <link rel="icon" href="images/favicon.ico">
    </head>
    <body>
        <div class="navbar">
            <div class="wrapper">
                <div class="logo"></div>
                <h1>Creative Logic</h1>
                <div class="spacer"></div>
                <div class="button-container">
                    <a href='#'>Top User</a>
                    <a href='#'>Community</a>
                    <a href='#'>Rules</a>
                    <a href='#'>Join</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content" id="landing">
                <div class="wrapper">
                    <h1>Creative Logic</h1>
                    <div class="line"></div>
                    <h2>Discord Community and Powerful Discord Bot</h2>
                    <div style="text-align: center; display: block;">
                        <a href="https://discord.gg/97tn3bW">Join</a>
                        <a href="https://discord.gg/97tn3bW">Add</a>
                    </div>
                </div>
            </div>
            <div class="content" style="height: 300px; background: white">

            </div>
        </div>
    </body>
</html>