<section id="landing">
    <h1>Creative Logic</h1>
    <div class="line"></div>
    <h2>Discord Community and Powerful Discord Bot</h2>
    <div class="join-container" >
        <a href="https://discord.gg/97tn3bW" id="join">Join Server</a>
        <a href="/auth">Login with <img src="images/Discord-Wordmark-White.svg" width="100px"></a>
    </div>
</section>
<section id="top-user">
    <div class="user">
        <img src="https://cdn.discordapp.com/attachments/362697814142222337/382701205610037248/Screenshot_2017-11-19-19-00-20-1.png">
        <div class="name-container">
            <h1>Sere.Bii</h1>
            <div class="connections">
                <a href="http://instagram.com/sere.bii"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                <a href="http://twitter.com/serebii_chan"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                <a href="http://github.com/serebiisama"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                <a href="http://serebii-chan.deviantart.com/"><i class="fa fa-deviantart fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="art-container">
        <img src="https://cdn.discordapp.com/attachments/362697814142222337/382682922421059594/vetta_jgp.jpg">
        <img src="https://cdn.discordapp.com/attachments/362697814142222337/382682165412102144/mitsu_in_space_beta_fuck_my_life_i_dont_want_to_finish_this_piece_with_high_definition_pixels.ong.png">
        <img src="https://cdn.discordapp.com/attachments/362697814142222337/382683022077460480/mitsu_facepaint_png.png">
    </div>
</section>
<section id="community">
    <h1>Need <span>help</span> or want to <span>grow</span> your skills in art or programming?</h1>
    <h2>Creative Logic offers a friendly art and programming community</h2>
    <a href="https://discord.gg/xVJ8B7k">Join our <img src="images/Discord-Wordmark-White.svg" width="100px"></a>
</section>
<section id="bot">
    <h1>Ever feel the need for a <span>single</span> bot that can do <span>anything</span>?</h1>

    <div class="feature-list">
        <div class="feature">
            <i class="fa fa-music fa-3x fa-inverse" aria-hidden="true"></i>
            <h2>Music Player</h2>
        </div>
        
        <div class="feature">
            <i class="fa fa-user-circle fa-3x fa-inverse" aria-hidden="true"></i>
            <h2>Moderation</h2>
        </div>

        <div class="feature">
            <i class="fa fa-book fa-3x fa-inverse" aria-hidden="true"></i>
            <h2>Auditing</h2>
        </div>

        <div class="feature">
            <i class="fa fa-desktop fa-3x fa-inverse" aria-hidden="true"></i>
            <h2>Web Panel</h2>
        </div>

        <div class="feature">
            <i class="fa fa-id-badge fa-3x fa-inverse" aria-hidden="true"></i>
            <h2>Profiles</h2>
        </div>
        
        <div class="feature">
            <i class="fa fa-comment fa-3x fa-inverse" aria-hidden="true"></i>
            <h2>Community</h2>
        </div>

        <div class="feature">
            <i class="fa fa-puzzle-piece fa-3x fa-inverse" aria-hidden="true"></i>
            <h2>Modules</h2>
        </div>

        <div class="feature">
            <i class="fa fa-signal fa-3x fa-inverse" aria-hidden="true"></i>
            <h2>Reliability</h2>
        </div>
    </div>

    <a href="/auth">Login with <img src="images/Discord-Wordmark-White.svg" width="100px"> to add</a>
</section>