<div class="servers-container">
    {{#each guilds}}
        <a href="/server/{{this.id}}">
            <div class="header">
                <h1>{{this.name}}</h1>
                <img src="https://cdn.discordapp.com/icons/{{this.id}}/{{this.icon}}.png">

            </div>
        </a>
    {{/each}}
</div>